# Import CSV

In [3]:
import pandas as pd

df = pd.read_csv("policy proposal/Overijssel policy proposal.csv", sep=';')

In [4]:
df

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column30,Column31,Column32,Column33,Column34,Column35,Column36,Column37,Column38,Column39
0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column30,Column31,Column32,Column33,Column34,Column35,Column36,Column37,Column38,Column39
1,HET GROTE BELEIDSRESULTATEN EXCELLETJE (Result...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rijkswaterstaat policy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,RWS 1,1,0,0,0,0,0,1,0,0,...,8,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,RWS 2,1,1,0,0,0,0,1,1,0,...,8,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,RWS 3,1,1,1,0,0,0,1,1,1,...,8,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Policy Overijssel,1,1,1,0,0,0,1,1,1,...,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Policy,Expected Annual Damage Mean,Expected Annual Damage Std,Expected Annual Damage CV,Expected Annual Damage Max Regret,Expected Annual Damage Mean Regret,Expected Annual Damage Rank Std,Dike Investment Costs Mean,Dike Investment Costs Std,Dike Investment Costs CV,...,Expected Number of Deaths Mean Regret,Expected Number of Deaths Rank Std,Total Costs Mean,Total Costs Std,Total Costs CV,Total Costs Max Regret,Total Costs Mean Regret,Total Costs Rank Std,Satisficing Count,Total Scenarios
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Rijkswaterstaat policy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RWS 1,425281530.7,521332132.7,1.225851807,2688486718,391535102.4,1.278919323,116697859.7,4.47E-08,3.83E-16,...,0.065930232,1.157916997,657301810.5,521357232.1,0.793177843,2539664726,270632915.4,2.293171087,0,1000
17,RWS 2,272680421.4,403656656.4,1.48032871,2461735004,238933993.1,1.398354173,116697859.7,4.47E-08,3.83E-16,...,0.0386629,1.203870967,619993334.3,403677764.4,0.651100168,2440400090,233324439.2,1.583440015,0,1000
18,RWS 3,177382404.4,314692288.1,1.774089651,2437503746,143635976.1,1.410725397,116697859.7,4.47E-08,3.83E-16,...,0.021772738,1.180182965,639990254.8,314708945.6,0.491740215,2531468053,253321359.6,1.319537866,0,1000
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,policy Overijssel,101414732.9,256098235.4,2.525256717,2242264222,64985062.3,1.323773537,116486620.3,1.49E-08,1.28E-16,...,0.027909405,1.678394473,563803642.4,256101194.7,0.454238276,2280297839,174125133.2,1.195326234,0,1000
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN